# dependencies
/node_modules
/.pnp
.pnp.js

# build / output
/build
/dist

# testing
/coverage

# environment variables


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE and editor folders
/.idea
/.vscode
*.swp
*.swo
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
.jshintrc
.prettierrc
.eslintcache